<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>动物识别系统</title>
</head>
<h1 align="center"> 动物识别系统</h1>
<center><em align="center">
    (目前可支持 长颈鹿、猎豹、老虎、斑马、企鹅、海燕、鸵鸟)<br>
    请将各个特征使用空格隔开</em></center>
<br>
<center>
 <div class="search bar1">
        <form action= " " method = 'get'>
            <input type="text" size="100" placeholder="请输入动物识别规则..." name="q">
            <br>
            <button type="submit" >确认</button>
        </form>
   		 <p>
             <big>动物识别结果为：<br>{{ result }}</big>
	   		<br>
             <img id="demo">
            <script>
                demo.src="https://gss0.baidu.com/7Po3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/cb8065380cd791237826cd78a2345982b3b780fc.jpg";
            </script>
   		 </p>
    </div>
</center>
</body>
</html>